


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{font-family: 'Roboto', sans-serif;}


@media (min-width: 576px) { 
body {
  background-image: url(./1234.jpg);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-color: rgb(255, 255, 255);
  align-items: center;
  background-repeat:no-repeat;
  background-attachment: fixed;
background: opacity 2%;
}

}
@media (min-width: 768px) {
  
.sidebar {
  height: 150%;
  width: 284px;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 40px;
  overflow-y: scroll;
  scrollbar-width:2px;


}

.card-body h5
{
  font-size: 20px;
}
}
@media (min-width: 576px) {
.body-text {

  text-align: center;
  color: white;
  border: none;
  
}
}
@media (min-width: 576px) {
.card-img-top {
  height: 40%;
  width: 40%;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  border: 1px solid #ccc;
  padding: 5px;
  background: #f2f2f2;
  margin-bottom: 30px;
}


}
@media (min-width: 576px)  {
.card-img-top
{

  margin-top: -15%; 
  padding-top: 0%;
}}
@media (min-width: 576px) {
.card-title {
  margin-top: 0%;
  padding-top: 0%;
}
}
@media (min-width: 576px) {
.row:after {
  content: "";
  display: table;
  clear: both;
}}
@media (min-width: 576px) {
.column {
  float:center;
  width: 50%;
  padding: 50px;
  height: 300px; /* Should be removed. Only for demonstration */
  float: right;
  margin-top: 7%;
  margin-right: 19%;
 text-shadow:0px -1px 25px rgb(249, 195, 1), 0px 1px 25px rgb(249, 197, 8);
 color: aliceblue;font-size: large;
}
}
@media (min-width: 576px) {
h1 {
  font-family: "Montserrat Medium";
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);

}
}

@media (min-width: 576px) {

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
}
@media (min-width: 576px) {
.button {


  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 6px;
  margin: 4px 2px;
  cursor: pointer;

}
}
@media (min-width: 576px) {
.about {
  float:center;
  width: 50%;
  padding: 20px;
  padding-top: 0px;
  margin-bottom: -60%;
  float: right;
  margin-top: 24%;
  margin-right: 26%;
 color: aliceblue;font-size: large; 
 font-style: italic;
 font-stretch: ultra-condensed;

}
}
@media (min-width: 576px) {
 .timeline {
  float:center;
  width: 50%;
  padding: 20px;
  padding-top: 0px;
  margin-bottom: -60%;
  float: right;
  margin-top: 24%;
  margin-right: 26%;
 
 color: aliceblue;font-size: large; 
 font-style: italic;
 font-stretch: ultra-condensed;
} }
@media (min-width: 576px) {
.about #example2 {
  box-sizing: border-box;
  width: 300px;
  height: 100px;
  padding: 30px;  

}
}

@media (min-width: 576px) {

* {box-sizing: border-box}

.container {
  width:20%;
  background-color: #ddd;
}}
@media (min-width: 576px) {

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}}
@media (min-width: 576px) {

.html {width: 90%; background-color: #876445;}
.css {width: 80%; background-color: #876445;}
.communication  {width: 100%; background-color: #876445;}
.skills1 {width: 90%; background-color: #876445;}
.skills2  {width: 80%; background-color: #876445;}
.skills3  {width: 80%; background-color: #876445;}

}


@media (min-width: 576px) {
.container2 {
  float:center;
  width: 50%;
  padding: 20px;
  padding-top: 40px;
  margin-bottom: -60%;
  float: right;
  margin-top: 55%;
  margin-right: 14%;
 color: aliceblue;font-size: large; 

}}


@media (min-width: 576px) {
.Timeline .card {

  display:inline-block;
  margin-left: 50px;
  background-color: #876445;
  margin: 15px;
  margin-left: 35px;
}
}
@media (min-width: 576px) {
.Timeline .project {
background-color: #876445;
  width: 100%;
  margin-top: 15%;
  border: #f2f2f2;
  border-radius: 30px;
  padding-top: 2px ;
  padding-left: 20px;
  margin-left: 10px;
} }

@media (min-width: 576px) {
.Timeline .project .pro {

  padding-bottom: 50px;
}
}
@media (min-width: 576px) {
.project .btn  {

  margin-bottom: 7%;
  color: #ddd;
}
}
@media (max-width: 600px) {

  .about{ margin-bottom: 50px;width:100%; padding-top: 200px;}
}

